@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background: url(../img/bg.jpg);

    background-size:cover;
    background-position:center;
    height:100vh;
    overflow:hidden;

    animation: body .2s infinite ease-in;
    transition:all ease-in .1s;

    color:white;
    font-family:Poppins;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  .capture-btn
  {
    width:60%;
    border:solid white 1px;
    background:none;
    border-radius:10px;
    height:25px;
    position:absolute;
    margin-top:-20px;
    margin-bottom:20px;
    font-family:Poppins;
    color:white;
    transition:all ease-in .1s;
    z-index:4;
    top:460px;
  }

  .retake-btn
  {
    width:60%;
    border:solid white 1px;
    background:none;
    border-radius:10px;
    height:25px;
    position:absolute;
    margin-top:20px;
    margin-bottom:20px;
    font-family:Poppins;
    color:white;
    transition:all ease-in .1s;
    z-index:4;
    top:430px;
  }

  .submit-btn
  {
    width:60%;
    border:solid white 1px;
    background:none;
    border-radius:10px;
    height:25px;
    position:absolute;
    margin-top:20px;
    margin-bottom:20px;
    font-family:Poppins;
    color:white;
    transition:all ease-in .1s;
    z-index:4;
    top:560px;
  }

  input[type="text"]
  {
    position:absolute;
    outline:none;
    border:solid white 1px;
    border-radius:10px;
    background:none;
    z-index:4;
    width:60%;
    height:25px;
    top:530px;
    left:20%;
    text-align:center;
    color:white;
    font-family:Poppins;
    font-size:13px;
    transition:all ease-in .1s;
  }


#webcapture {
  transform: translateX(-50%) translateY(-50%) scale(50%); 
  left: 50%; 
  top: 55%; 
  position:absolute;
  border-radius:10px;
  box-shadow:0px 0px 30px 3px rgba(0,0,0,0.7);
}

#results
{
  position:absolute;
  transform: translateX(-50%) translateY(-50%) scale(50%); 
  left: -42%; 
  top: -7%;
  border-radius:10px;
  box-shadow:0px 0px 30px 3px rgba(0,0,0,0.7);
}

@media (max-width: 768px) {
  #webcapture {
      transform: translateX(-50%) translateY(-50%) scale(20%);
  }
}


#retakebtn
{
  position:absolute;
  margin-top:-50px;
}



#results
{
    width: 1280px; 
    height: 720px;
    transform: scale(0.5);
    position:absolute;
}

.container
{
    height:90vh;
    position:relative;
    width:50%;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    backdrop-filter:blur(20px) brightness(70%);
    box-shadow:0px 0px 30px 3px rgba(0,0,0,0.3);
}

.logo
{
  height:75px;
  width:125px;
  position:absolute;
  top:30px;
}

label[for="faceid"]
{
  position:absolute;
  top:100px;
  font-size:15px;
  z-index:10;
}

.submit-btn:hover
{
    background:white;
    color:black;
    transition:all ease-in .1s;
    box-shadow:0px 0px 20px 2px rgba(255,255,255,0.3);
}

.capture-btn:hover
{
    background:white;
    color:black;
    transition:all ease-in .1s;
    box-shadow:0px 0px 20px 2px rgba(255,255,255,0.3);
}

.retake-btn:hover
{
    background:white;
    color:black;
    transition:all ease-in .1s;
    box-shadow:0px 0px 20px 2px rgba(255,255,255,0.3);
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus
{
    backdrop-filter: brightness(70%);
    transition:all ease-in .1s;
    transform:scale(1.05);
    box-shadow:0px 0px 20px 2px rgba(255,255,255,0.3);
}

#retakebtn
{
  position:absolute;
  margin-top:30px;
}

#username-field
{
  position:absolute;
  margin-top:-20px;
  font-size:12px;
  width:59.2%;
}

#savebtn
{
  position:absolute;
  margin-top:-10px;
  width:60%;
}