@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body
{
    background:#202020;
    color:white;
    height:100vh;
    overflow:hidden;
}

.hidden
{
    display: none;
}

#content-menu {
    position: fixed;
    z-index: 9;
    backdrop-filter: blur(20px) brightness(110%);
    width:15%;
    padding: 5px;
    border-radius:7px;
    box-shadow:0px 0px 20px 5px rgba(0,0,0,0.1);
    border: 1px solid #ccc; 
}

#dp-content
{
    position: fixed;
    z-index: 10;
    padding: 10px;
    backdrop-filter: blur(20px) brightness(110%);
    border: 1px solid #ccc;
    width:15%;
}

.content-option
{
    border-radius:2px;
    text-align:center;
    height:20px;
    width:98%;
    margin-left:1%;
    font-size:12px;
    font-family:Poppins;
}

.content-option:hover
{
    box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.2);
}

.displayPicture
{
    width: 100%;
    height: auto;
    display: block;
}

#profile-section
{
    height:400px;
    width:40%;
    background:#2c2c2c;
    left:50px;
    z-index:10;
    position:fixed;
    bottom:5px;
    border-radius:7px;
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.3);
}

#profile-display
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

label[for="display-username"]
{
    color:#8a8a8a;
    font-family: Poppins;
    font-size:13px;
}

label[for="display-name"]
{
    color:white;
    font-family:Poppins;
    font-size:18px;
}

.dp-container {
    width: 200px;
    height: 200px; 
    overflow: hidden;
    border: 1px solid #ccc; 
    border-radius:100px;
}

#dp-picture{
    width: 100%;
    height: auto;
    display: block;
}

#dp-picture:hover
{
    filter:brightness(80%);
}

#attachment
{
    display:none;
}
.image-file-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-file
{
    max-height:300px;
    max-width:70%;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 45px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo
{
    height:23px;
    width:23px;
    padding:10px;
}

.nav-bar-icons
{
    height:23px;
    width:23px;
}

.icon-container
{
    height:40px;
    width:80%;
    background:#202020;
    border-radius:7px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-container-message
{
    margin-top:10px;
    background:#2d2d2d;
}

.icon-container:hover
{
    background:#2d2d2d;
}


.icon-container-theme
{
    margin-top:61vh;
}

.icon-container-fid
{
    margin-top:5px;
}

.icon-container-logout
{
    margin-top:5px;
}

.icon-container-profile
{
    margin-top:5px;
}

.icon-container-profile-image
{
    height:23px;
    width:23px;
    border-radius: 100%;
}

label[for="app-name"] {
    position:fixed;
    margin-top:5px;
    margin-left:37px;
    font-family:Poppins;
}

#chat-bar {
    position: fixed;
    top: 40px; 
    left: 45px; 
    right: 0;
    bottom: 0;
    background: #2c2c2c;
    border-radius:10px 0px 0px 0px;
}

.profile-container-navbar-image
{
    height:23px;
    width:23px;
    border-radius:100%;
}

.chat-sidebar
{
    background:#2c2c2c;
    position:fixed;
    width:25%;
    top:40px;
    left:45px;
    bottom:0;
    z-index:10;
    border-radius:10px 0px 0px 0px;
    border-right:solid 1px #222121;
}

label[for="chat"]
{
    font-family:Poppins;
    font-size:20px;
    color:white;
    position:absolute;
    top:17px;
    left:5%;
}

.search-bar
{
    width:90%;
    height:35px;
    position:absolute;
    background:#383838;
    left:5%;
    border-radius:5px;
    top:58px;
    border-bottom:solid  #afabab 1px;
}

.search-bar:hover
{
    background:#222222;
    border-bottom:solid  #1daa61 2px;
}

#searchbar
{
    background:none;
    outline:none;
    border:none;
    font-family: Poppins;
    font-size:13px;
    font-weight:100;
    width:80%;
    margin-left:8%;
    color:#c6c6c6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#searchbar:hover
{
    color:#979797;
}

.search-icon
{
    height:12px;
    width:12px;
    position:absolute;
    top: 50%;
    left:10px;
    transform: translateY(-50%);
}

#users-section
{
    position:absolute;
    width:100%;
    bottom:0;
    right:0;
    top:120px;
    background:#2c2c2c;
    overflow-y: scroll;
}

#users-section::-webkit-scrollbar
{
	width:0;
}

#users-section::-webkit-scrollbar-thumb
{
	background:transparent;
}

.message-beginner
{
    width:95%;
    height:70px;
    margin-bottom:10px;
    border-radius:7px;
    background:#2c2c2c;
    margin-left:2.5%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.message-beginner-user
{
    width:95%;
    height:70px;
    margin-bottom:-10px;
    border-radius:7px;
    background:#2c2c2c;
    margin-left:2.5%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.picture-container
{
    width: 50px;
    height: 50px; 
    overflow: hidden;
    border-radius:100%;
    margin-left:10px;
}

.message-beginner:hover,.message-beginner-user:hover
{
    background:#383838;
}

label[for="message-username"]
{
    color:white;
    font-family: Poppins;
    font-size:15px;
    margin-left:10px;
    text-decoration: none;
}

#show-user-name
{
    outline:none;
    text-decoration: none;
}

.chatbar-message-icon
{
    position: absolute;
    height:14px;
    width:14px;
    margin-top:34px;
    margin-left:19.5%;
}

label[for="chatbar-message"]
{
    color:#8a8a8a;
    font-size:13px;
    text-decoration: none;
    font-family: Poppins;
    position: absolute;
    margin-top:34px;
    margin-left:24%;
    height:18px;
    overflow: hidden;
    width:70%;
    text-overflow: ellipsis;
}

label[for="chatbar-text-message"]
{
    color:#8a8a8a;
    font-size:13px;
    text-decoration: none;
    font-family: Poppins;
    position: absolute;
    margin-top:34px;
    margin-left:19.5%;
    height:18px;
    overflow: hidden;
    width:70%;
    text-overflow: ellipsis;
}

#message-space
{
    position:fixed;
    top:40px;
    bottom:0;
    right:0;
    left:28%;
    background:#2c2c2c;
    z-index:3;
    overflow: hidden;
}

#message-header
{
    position: absolute;
    top:0;
    right:0;
    left:0;
    background:#2c2c2c;
    height:10vh;
    z-index:4;
    border-bottom:solid 1px #222121;
}

.display-profile-picture
{
    width: 50px;
    height: 50px;
    overflow:hidden;
    border-radius:100%;
    position: absolute;
    top:-8px;
    left:-60px;
}

#message-header:hover .display-profile-picture
{
    filter: brightness(80%);
}

.display-profile-picture-container
{
    height:100%;
}

label[for="receiver-name"]
{
    color:white;
    font-size:15px;
    font-family: Poppins;
    position: absolute;
    left:90px;
    top:18px;
    text-overflow: ellipsis;
}

#receiver-username
{
    font-size:12px;
    color:#8a8a8a;
    font-family: Poppins;
    position: absolute;
    left:90px;
    top:37px;
    text-overflow: ellipsis;
}

#message-screen
{
    height:77vh;
    background:url("../img/chat.png");
    background-position: fixed;
    width:100%;
    position: absolute;
    top:72px;
    right:0;
    left:0;
    overflow-y: scroll;
    border-bottom:solid 1px #222121;
}

#message-holder
{
    width:fit-content;
    max-width:40%;
    min-height:40px;
    max-height: auto;
    background:#005c4b;
    border-radius: 10px 3px 10px 10px;
    margin-top:10px;
    margin-bottom:10px;
	margin-left:auto;
    margin-right:20px;
    padding:20px;
    box-shadow:0px 0px 10px 1px rgba(0,0,0,0.2);
}

#message-holder-user
{
    width:fit-content;
    max-width:40%;
    min-height:40px;
    max-height: auto;
    background:#363636;
    border-radius: 3px 10px 10px 10px;
    margin-top:10px;
    margin-bottom:10px;
	margin-left:20px;
    padding:20px;
    box-shadow:0px 0px 10px 1px rgba(0,0,0,0.2);
}

#message-footer
{
    position:absolute;
    background:#2c2c2c;
    top:87.3vh;
    left:0;
    right:0;
    bottom:0;
    height:60px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-footer-icon
{
    height:20px;
    width:20px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.message-footer-icon-container
{
    height:40px;
    width:45px;
    background:#2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:7px;
}

.message-footer-icon-container:hover
{
    background:#383838;
}

.message-footer-icon-container-attachment
{
    margin-left:22px;
    margin-top:5px;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-footer-icon-container-image
{
    margin-left:72px;
    margin-top:5px;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label[for="user-main-holder"]
{
    color:#b2b2b2;
    font-family: Poppins;
    font-size:12px;
}

audio
{
    padding:10px;
}

label[for="message-content"]
{
    color:rgb(220, 220, 220);
    font-size:15px;
    font-family:Poppins;
    margin-top:5px;
}

label[for="msg-time"]
{
    color:#8a8a8a;
    font-size:8px;
    font-family: Poppins;
    margin-left:auto;
}

#message-box
{
    background:transparent;
    width:81%;
    height:37px;
    margin-top:5px;
    outline:none;
    border:none;
    position:absolute;
    margin-left:123px;
    border-radius:7px;
    color:#8a8a8a;
    font-family: Poppins;
    font-size:15px;
}

.message-footer-icon-container-voice
{
    position:absolute;
    margin-left:93%;
    margin-top:5px;
}

.message-footer-icon-container-send
{
    position:absolute;
    margin-left:93%;
    margin-top:5px;
}

.message-footer-icon-container-voicestop
{
    position:absolute;
    margin-left:93%;
    margin-top:5px;
}

.file-container
{
    height:auto;
    background:none;
    border-bottom:solid white 1px;
    max-width:80%;
    max-height:50px;
    width:auto;
    padding:10px;
    border-radius:7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.file-container:hover
{
    background:#5c5c5c;
}

.file-container-icon
{
    position:relative;
    height:12px;
    width:12px;
    cursor:pointer;
}

label[for="file-container-name"]
{
    color:white;
    font-size:13px;
    text-overflow: ellipsis;
    font-family: Poppins;
    margin-left:5px;
}

.a-formatter
{
    text-decoration: none;
}

#message-screen::-webkit-scrollbar
{
	width:0;
}

#message-screen::-webkit-scrollbar-thumb
{
	background:transparent;
}

#theme-section
{
    height:400px;
    width:40%;
    background:#2c2c2c;
    left:50px;
    z-index:10;
    position:fixed;
    bottom:5px;
    border-radius:7px;
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.3);
}

label[for="theme-title"]
{
    font-family:Poppins;
    font-size:23px;
    position:relative;
    height:40px;
    left: 40%;
    top:10px;
    transform: translate(-50%, -50%);
}

.select-option
{
    height:auto;
    width:70%;
    padding:10px;
    border-radius:5px;
    border:solid white 1px;
    position:relative;
    margin-top:30px;
    margin-left:15%;
    text-align:center;
}

select
{
    padding:10px;
    background:#2c2c2c;
    border:solid white 1px;
    border-radius:7px;
    color:white;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    font-family:Poppins;
    font-size:12px;
    text-align: center;
    cursor:pointer;
    height:40px;
    margin-top:10px;
}

option
{
    font-size:10px;
    height:40px;
}

label[for="select-title"]
{
    color:white;
    font-family: Poppins;
    font-size:13px;
}

#start-up-cover
{
    position:fixed;
    top:40px;
    bottom:0;
    right:0px;
    left:28%;
    background:#2c2c2c;
    z-index:3;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

label[for="startup-title"]
{
    font-family:Poppins;
    font-size:18px;
    letter-spacing:20px;
}

.startup-logo
{
    height:120px;
    opacity:0.6;
    margin-left:-20px;
}

#admin-header
{
    height:60px;
    width:100%;
    position:fixed;
    z-index:16;
    left:0;
    top:0;
    right:0;
    display:flex;
    flex-direction: columns;
    align-items: center;
    background: #363636;
    box-shadow:0px 0px 20px 2px rgba(0,0,0,0.6);
}

label[for="header-title"]
{
    font-family:Poppins;
    font-size:15px;
    margin-left:8px;
    letter-spacing:3px;
}

.admin-panel-logo
{
    height:25px;
    width:25px;
    margin-left:20px;
}

.header-logo-admin
{
    height:25px;
    width:25px;
    border-radius:100%;
    position:absolute;
    left:87%;
}

label[for="header-username"]
{
    font-family:Poppins;
    font-size:10px;
    position:absolute;
    left:89.5%;
}

.header-foot
{
    height:40px;
    width:200px;
    left:90%;
    border-radius:10px;
    background:rgba(0, 0, 0, 0.1);
    position:absolute;
    left:85%;
}

.logout-btn
{
    font-size:8px;
    font-family:Poppins;
    text-decoration: none;
    text-align:center;
    color:white;
    background:rgba(0, 0, 0, 0.2);
    padding:5px;
    border-radius:10px;
    position:absolute;
    left:95%;
    cursor: pointer;
    z-index:10;
}



label[for="startup-title"]
{
    font-family:Poppins;
    font-size:18px;
    letter-spacing:20px;
}

.management-panel
{
    height:525px;
    width:80%;
    margin-left:10%;
    border-radius:10px;
    position: absolute;
    margin-top:80px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.management-panel::-webkit-scrollbar
{
	width:0;
}

.management-panel::-webkit-scrollbar-thumb
{
	background:transparent;
}

label[for="manage-head"]
{
    font-family:Poppins;
    font-size:18px;
    color:black;
}

label[for="manage-subtitle"]
{
    font-family:Poppins;
    font-size:12px;
    color:rgb(72, 72, 72);
}

.add-btn
{
    font-size:12px;
    font-family:Poppins;
    text-decoration: none;
    text-align:center;
    color:black;
    background:rgba(255, 201, 64, 0.5);
    padding:10px;
    border-radius:10px;
    position:absolute;
    left:89.2%;
    cursor: pointer;
    z-index:10;
    width:100px;
    top:10px;
}

table
{
    border:none;
    background:none;
    outline:none;
    width:100%;
    text-align:center;
    box-shadow:none;
    border-radius:7px;
    margin-top:20px;
}

th
{
    color:rgb(0, 79, 0);
    background:rgb(231, 230, 230);
    height:40px;
}

tr
{
    height:40px;
    background:rgb(233, 233, 233);
    color:#1c1b1b;
}

.admin-btn
{
    border-radius:10px;
    background:#414141;
    color:white;
    font-family: Poppins;
    font-size:8px;
    padding:5px;
    border:none;
    margin-left:5px;
    cursor:pointer;
}

.admin-btn:hover
{
    background:rgb(0, 79, 0);
}







